<div class="modal__container">
    <div class="modal">
        <div class="modal__header">
            <p class="title">Samsung Galaxy S25 Ultra</p>
            <p class="price">Ապառիկ գին: 527,900դր.</p>

            <button class="btn close" id="close">X</button>
        </div>
        <form class="modal__form">
            <label>
                Տարեկան տոկոսադրույք
                <select name="months">
                    <option value="20.9">20.9</option>
                    <option value="20.9">20.9</option>
                    <option value="20.9">20.9</option>
                    <option value="20.9">20.9</option>
                </select>
            </label>
            <label>
                Տևողություն (ամիս)
                <select name="months">
                    <option value="6">6</option>
                    <option value="6">12</option>
                    <option value="6">24</option>
                </select>
            </label>
            <label>
                Բանկ
                <select name="months">
                    <option value="6">Ինեկո</option>
                    <option value="6">Ինեկո</option>
                    <option value="6">Ինեկո</option>
                </select>
            </label>
            <label>
                Կանխավճար (ՀՀ դրամ)
                <input type="number" placeholder="Կանխավճար" />
            </label>
            <button type="submit" class="btn btn-primary">Հաշվարկել</button>
        </form>

        <table class="modal__content">
            <thead>
                <tr>
                    <th>Ամիսներ</th>
                    <th>Տոկոսագումար</th>
                    <th>Մայր գումար</th>
                    <th>Վճարման ենթակա ընդհանուր վճար</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>9,194.26</td>
                    <td>84,230</td>
                    <td>93,423.81</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>9,194.26</td>
                    <td>84,230</td>
                    <td>93,423.81</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>9,194.26</td>
                    <td>84,230</td>
                    <td>93,423.81</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>9,194.26</td>
                    <td>84,230</td>
                    <td>93,423.81</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Վճարման ենթակա ընդհանուր վճար</td>
                    <td>9,194.26</td>
                    <td>84,230</td>
                    <td>93,423.81</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
