<nav>
    <div class="container">
        <div class="nav__content">
            <a href="/" class="logo"
                ><img src="/images/logo.svg" alt="Logo"
            /></a>
            <form class="searchForm">
                <input type="text" placeholder="Որոնում" />
                <button type="submit">
                    <img src="/images/search.svg" alt="Search" />
                </button>
            </form>

            <ul class="flex">
                <li><a href="/cart" class="link">Զամբյուղ</a></li>
                <li><a href="/signup" class="link">Գրանցվել</a></li>
            </ul>
        </div>
    </div>
</nav>
