<!DOCTYPE html>
<html lang="en">
    <%-include("components/head", {title})%>
    <body>
        <%-include("components/nav")%>
        <main>
            <%-include("components/breadcrumbs", {breadcrumbs}) %>
           
            <div class="category__container">
                <div class="container">
                    <div class="category__wrapper">
                        <h2 class="title"><%=title%></h2>
                        <div class="category__content cart__content" id="cart__content"></div>
                    </div>
                </div>
            </div>
            <div class="notification__container flex-column" id="notificationContainer"></div>

        </main>

        <script src="js/cartRender.js" type="module"></script>
    </body>
</html>
